<div class="accordion accordion-flush" id="accordionFlushExample">
    <div *ngFor="let servi of services" class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" attr.data-bs-target="#c{{servi.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
            {{servi.titulo}}
        </button>
      </h2>
      <div id="c{{servi.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">  
            <strong>{{servi.descripcion}}</strong>
            <img src={{servi.imagen}} class="card-img-top" alt="..." width="200" height="400">
        </div>
      </div>
    </div>
</div>   