<app-menu></app-menu>
<router-outlet></router-outlet>

<section>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="container">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/id/1144982182/es/foto/lindo-gatito-rojo-est%C3%A1-durmiendo-en-su-espalda-y-sonriendo-patas-arriba-concepto-de-sue%C3%B1o-y.jpg?s=612x612&w=0&k=20&c=5xse2z7qSLmtm77-PTqAWi2Dl77bi22JK9d1aKlnJU4=" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cat</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>